body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px !important;
  table * {
    font-size: 12px !important;
    td {
      text-align: center;
    }
  }
  // 修改全局删除按钮背景色
  // .ant-btn-danger, .ant-popover-open{
  //   background-color: red;
  //   color: #fff;
  // }
  // .ant-btn-danger:focus{
  //   background-color: red;
  //   color: #fff;
  // }


}